body {
    font-family: 'Sora', sans-serif;
    background-color: #09121D;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    background-color: #09121D;
    padding: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 200px;
    height: auto;
    transition: opacity 0.5s ease-in-out;
}

.booking-section {
    background-color: #FFFFFF;
    color: #09121D;
    padding: 40px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(20px); /* Inicialmente movido para baixo */
    animation: fadeInUp 1s forwards; /* Executa a animação */
}

/* Define a animação de entrada */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
}

input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button.submit-button {
    background-color: #09121D;
    color: #FFFFFF;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.submit-button:hover {
    background-color: #0A2D3C;
}

#mensagem {
    margin-top: 20px;
    font-size: 16px;
}

#loader {
    margin-top: 20px;
    font-size: 16px;
}
